<!--
  templateType: "none"
  isAvailableForNewContent: false
-->
<!doctype html>
<html lang="{{ html_lang }}" {{ html_lang_dir }}>
  <head>
    <meta charset="utf-8">
    <title>{{ page_meta.html_title }}</title>
    {% if site_settings.favicon_src %}<link rel="shortcut icon" href="{{ site_settings.favicon_src }}" />{% endif %}
    <meta name="description" content="{{ page_meta.meta_description }}">
    {{ require_css(get_asset_url("../../css/main-head.css")) }}
    {{ require_css(get_asset_url("../../css/main-foot.css"), { async: true }) }}
    {{ require_js(get_asset_url("../../js/clean-pro.js"), { position: 'footer'}) }}
    {{ require_js(get_asset_url("../../js/jquery-modal-min.js"), { position: 'footer', defer:true }) }}
    {{ require_js(get_asset_url("../../child.js")) }}
    {{ standard_header_includes }}
    {{ require_css(get_public_template_url("../../child.css")) }}
    <link rel="preconnect" href="https://cdn2.hubspot.net" crossorigin>
    <link rel="preconnect" href="https://js.hs-analytics.net" crossorigin>
    <link rel="preconnect" href="https://js.hs-banner.com" crossorigin>
  </head>
  <body data-color-scheme="light" data-contrast="low" data-background-color="">
    <div class="body-wrapper {{ builtin_body_classes }}">
      <header class="header">
        <div class="header__container">
          {# module "global_header_v2" path="../../modules/Global Header v2", label="Global Header - Pro" #}
          {% if request_contact.is_logged_in %}
            <div>Logged In Header</div>
          {% else %}
            <div>Logged Out Header</div>
          {% endif %}
        </div>
      </header>
      <main id="main-content">
        {% block body %}
          <!-- Nothing to see here -->
        {% endblock body %}
      </main>
      <footer class="footer">
        <div class="footer__container">
          {% module "global_footer" path="../../modules/Global Footer", label="Global Footer - Pro" %}
        </div>
      </footer>
    </div>
    {{ standard_footer_includes }}
  </body>
</html>
