<!--
  templateType: global_partial
  label: teams Details Sidebar
-->
<div class="w-33%@md o-1@md">
	{% if team.require_background_check && team.requires_experience %}
		<div class="mb-3 mb-4@md">
			<div class="mb-1 d-f ai-c jc-sb fw-w">
				<h2 class="fs-4 fw-600 lh-20p tt-u c-tint3">Requirements</h2>
			</div>
			<div class="d-f fw-w g-4p mt-1">
				{% if team.require_background_check %}
					<div class="badge">
						Previous Experience
					</div>
				{% endif %}
				{% if team.require_background_check %}
					<div class="badge">
						Background Check
					</div>
				{% endif %}
			</div>
		</div>
	{% endif %}
	{% if team.location|length > 0  %}
	<div class="mb-3 mb-4@md">
		<div class="mb-1 d-f ai-c jc-sb fw-w">
			<h2 class="fs-4 fw-600 lh-20p tt-u c-tint3">Location(s)</h2>
		</div>
		<div class="d-f fw-w g-4p mt-1">
			{% for location in team.location %}
				<div class="badge">
					{{ location }}
				</div>
			{% endfor %}
		</div>
	</div>
	{% endif %}
	{% if team.serve_schedule|length > 0  %}
		<div class="mb-3 mb-4@md">
			<div class="mb-1 d-f ai-c jc-sb fw-w">
				<h2 class="fs-4 fw-600 lh-20p tt-u c-tint3">Schedule(s)</h2>
			</div>
			<div class="d-f fw-w g-4p mt-1">
				{% for item in team.serve_schedule %}
					<div class="badge">
						{{ item }}
					</div>
				{% endfor %}
			</div>
		</div>
	{% endif %}
</div>