<!--
  templateType: global_partial
  label: Volunteer Team List
-->

{% if dynamic_page_crm_object_type_fqn %}
  {% set queryparams = "limit=200&orderBy=team_name&public=true" %}
  {% if request.query_dict.schedule %}
    {% set queryparams = queryparams ~ "&serve_schedule__in=" ~ request.query_dict.schedule %}
  {% endif %}
  {% if request.query_dict.location %}
    {% set queryparams = queryparams ~ "&location_in=" ~ request.query_dict.location %}
  {% endif %}
  {% if request.query_dict.experience %}
    {% set queryparams = queryparams ~ "&requires_experience=" ~ request.query_dict.experience %}
  {% endif %}
  {% if request.query_dict.background %}
    {% set queryparams = queryparams ~ "&require_background_check=" ~ request.query_dict.background %}
  {% endif %}
  {% set team_fields = "team_name,description,page_slug,featured_image,show_in_portal,public,active,application_form_link" %}
  {% set teams = crm_objects(dynamic_page_crm_object_type_fqn, queryparams,team_fields).results %}
  <div id="app" class="body-container-wrapper team-listing-template" v-cloak>
    <div id="main_page_content" class="f-1">
      <div class="f-1 container pt-4 pb-4">
        <div tabindex="-1" style="outline: none;">
          <div tabindex="-1" style="outline: none;">
            <div data-testid="grid" class="grid grid-cols-1 gap-3" style="">
              {% include "./volunteer-filter.html" %}
              <section data-testid="grid" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-2 sm:gap-3 md:gap-4">
                {% include "./volunteer-card.html" %}
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}