<!--
  templateType: global_partial
  label: Volunteer Team Detail
-->
<main class="body-container-wrapper volunteer-team-detail-template">
  <div id="main_page_content" class="f-1 page-content">
    <div class="f-1 container">
      <div tabindex="-1" style="outline: none;">
        <div tabindex="-1" style="outline: none;">
          <div class="recurring">
            {% include "./volunteer-header.html" %}
            {% include "./volunteer-register-bar.html" %}
            <div class="d-f@md">
              {% include "./volunteer-sidebar.html" %}
              {% include "./volunteer-content.html" %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>