<div data-testid="grid" class="grid grid-cols-1 gap-2">
  <div>
    <div class="d-f jc-sb ai-c">
      <div style="flex: 1 1 0%; position: relative">
        <input type="text" value="" style="padding-left: 32px" />
        <span style="color: var(--color-tint4); font-size: 14px; left: 10px; top: 11px; position: absolute; z-index: 1;">
          <svg class="symbol" id="search" viewBox="0 0 16 16">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M16 14.3288L12.3216 10.7424C13.2016 9.616 13.7296 8.2168 13.7296 6.696C13.7296 3.004 10.6504 0 6.8656 0C3.08 0 0 3.004 0 6.696C0 10.388 3.08 13.392 6.8656 13.392C8.2168 13.392 9.4744 13.004 10.5384 12.344L14.2864 16L16 14.3288ZM1.616 6.696C1.616 3.8728 3.9704 1.576 6.8656 1.576C9.7592 1.576 12.1152 3.8728 12.1152 6.696C12.1152 9.5192 9.7592 11.816 6.8656 11.816C3.9704 11.816 1.616 9.5192 1.616 6.696Z"></path>
          </svg>
        </span>
      </div>
    </div>
  </div>
  <div>
  <div data-testid="grid" class="filter-buttons grid grid-cols-1 xs:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2">
    <button aria-expanded="false" aria-haspopup="true" aria-controls="menu--8" class="select truncate ta-l" data-reach-menu-button="" type="button" id="menu-button--menu--8">Group Type</button>
    <div data-reach-popover="" data-reach-menu="" data-reach-menu-popover="">
      <div aria-labelledby="menu-button--menu--8" role="menu" id="menu--8" data-reach-menu-list="" data-reach-menu-items="" tabindex="-1" style="max-height: 15.5rem; max-width: 13rem; overflow: auto;">
        <div role="menuitem" class="stripped-btn w-100% ta-l" data-reach-menu-item="" data-valuetext="(any)" tabindex="-1" id="option-0--menu--8">(any)</div>
        {% for option in group_types_filter.options %}
          <div role="menuitem" class="stripped-btn w-100% ta-l" data-reach-menu-item="" data-valuetext="{{ option.value }}" tabindex="-1" id="option-{{loop.index}}--menu--8">{{ option.label }}</div>
        {% endfor %}
      </div>
    </div>
    <button aria-expanded="false" aria-haspopup="true" aria-controls="menu--9" class="select truncate ta-l" data-reach-menu-button="" type="button" id="menu-button--menu--9">Location Type</button>
    <div data-reach-popover="" data-reach-menu="" data-reach-menu-popover="">
      <div aria-labelledby="menu-button--menu--9" role="menu" id="menu--8" data-reach-menu-list="" data-reach-menu-items="" tabindex="-1" style="max-height: 15.5rem; max-width: 13rem; overflow: auto;">
        <div role="menuitem" class="stripped-btn w-100% ta-l" data-reach-menu-item="" data-valuetext="(any)" tabindex="-1" id="option-0--menu--9">(any)</div>
        {% for option in locations_filter.options %}
          <div role="menuitem" class="stripped-btn w-100% ta-l" data-reach-menu-item="" data-valuetext="{{ option.value }}" tabindex="-1" id="option-{{loop.index}}--menu--9">{{ option.label }}</div>
        {% endfor %}
      </div>
    </div>
    <button aria-expanded="false" aria-haspopup="true" aria-controls="menu--10" class="select truncate ta-l" data-reach-menu-button="" type="button" id="menu-button--menu--10">Target Audience</button>
    <div data-reach-popover="" data-reach-menu="" data-reach-menu-popover="">
      <div aria-labelledby="menu-button--menu--10" role="menu" id="menu--8" data-reach-menu-list="" data-reach-menu-items="" tabindex="-1" style="max-height: 15.5rem; max-width: 13rem; overflow: auto;">
        <div role="menuitem" class="stripped-btn w-100% ta-l" data-reach-menu-item="" data-valuetext="(any)" tabindex="-1" id="option-0--menu--10">(any)</div>
        {% for option in target_audience_filter.options %}
          <div role="menuitem" class="stripped-btn w-100% ta-l" data-reach-menu-item="" data-valuetext="{{ option.value }}" tabindex="-1" id="option-{{loop.index}}--menu--10">{{ option.label }}</div>
        {% endfor %}
      </div>
    </div>
    <button aria-expanded="false" aria-haspopup="true"aria-controls="menu--11" class="select truncate ta-l" data-reach-menu-button="" type="button" id="menu-button--menu--11">Frequency</button>
    <div data-reach-popover="" data-reach-menu="" data-reach-menu-popover="">
      <div aria-labelledby="menu-button--menu--11" role="menu" id="menu--8" data-reach-menu-list="" data-reach-menu-items="" tabindex="-1" style="max-height: 15.5rem; max-width: 13rem; overflow: auto;">
        <div role="menuitem" class="stripped-btn w-100% ta-l" data-reach-menu-item="" data-valuetext="(any)" tabindex="-1" id="option-0--menu--11">(any)</div>
        {% for option in frequency_filter.options %}
          <div role="menuitem" class="stripped-btn w-100% ta-l" data-reach-menu-item="" data-valuetext="{{ option.value }}" tabindex="-1" id="option-{{loop.index}}--menu--11">{{ option.label }}</div>
        {% endfor %}
      </div>
    </div>
    <button aria-expanded="false" aria-haspopup="true" aria-controls="menu--12" class="select truncate ta-l" data-reach-menu-button="" type="button" id="menu-button--menu--12">Neighborhood | Area</button>
    <div data-reach-popover="" data-reach-menu="" data-reach-menu-popover="">
      <div aria-labelledby="menu-button--menu--12" role="menu" id="menu--8" data-reach-menu-list="" data-reach-menu-items="" tabindex="-1" style="max-height: 15.5rem; max-width: 13rem; overflow: auto;">
        <div role="menuitem" class="stripped-btn w-100% ta-l" data-reach-menu-item="" data-valuetext="(any)" tabindex="-1" id="option-0--menu--12">(any)</div>
        {% for option in neighborhood_filter.options %}
          <div role="menuitem" class="stripped-btn w-100% ta-l" data-reach-menu-item="" data-valuetext="{{ option.value }}" tabindex="-1" id="option-{{loop.index}}--menu--12">{{ option.label }}</div>
        {% endfor %}
      </div>
    </div>
    <button aria-expanded="false" aria-haspopup="true" aria-controls="menu--13" class="select truncate ta-l" data-reach-menu-button="" type="button" id="menu-button--menu--13">Time Zone</button>
    <div data-reach-popover="" data-reach-menu="" data-reach-menu-popover="">
      <div aria-labelledby="menu-button--menu--13" role="menu" id="menu--8" data-reach-menu-list="" data-reach-menu-items="" tabindex="-1" style="max-height: 15.5rem; max-width: 13rem; overflow: auto;">
        <div role="menuitem" class="stripped-btn w-100% ta-l" data-reach-menu-item="" data-valuetext="(any)" tabindex="-1" id="option-0--menu--13">(any)</div>
        {% for option in time_zone_filter.options %}
          <div role="menuitem" class="stripped-btn w-100% ta-l" data-reach-menu-item="" data-valuetext="{{ option.value }}" tabindex="-1" id="option-{{loop.index}}--menu--13">{{ option.label }}</div>
        {% endfor %}
      </div>
    </div>
    <button aria-expanded="false" aria-haspopup="true" aria-controls="menu--14" class="select truncate ta-l" data-reach-menu-button="" type="button" id="menu-button--menu--14">Day of the Week</button>
    <div data-reach-popover="" data-reach-menu="" data-reach-menu-popover="">
      <div aria-labelledby="menu-button--menu--14" role="menu" id="menu--8" data-reach-menu-list="" data-reach-menu-items="" tabindex="-1" style="max-height: 15.5rem; max-width: 13rem; overflow: auto;">
        <div role="menuitem" class="stripped-btn w-100% ta-l" data-reach-menu-item="" data-valuetext="(any)" tabindex="-1" id="option-0--menu--14">(any)</div>
        {% for option in day_of_week_filter.options %}
          <div role="menuitem" class="stripped-btn w-100% ta-l" data-reach-menu-item="" data-valuetext="{{ option.value }}" tabindex="-1" id="option-{{loop.index}}--menu--14">{{ option.label }}</div>
        {% endfor %}
      </div>
    </div>
    <button aria-expanded="false" aria-haspopup="true" aria-controls="menu--15" class="select truncate ta-l" data-reach-menu-button="" type="button" id="menu-button--menu--15">Time of Day</button>
    <div data-reach-popover="" data-reach-menu="" data-reach-menu-popover="">
      <div aria-labelledby="menu-button--menu--15" role="menu" id="menu--8" data-reach-menu-list="" data-reach-menu-items="" tabindex="-1" style="max-height: 15.5rem; max-width: 13rem; overflow: auto;">
        <div role="menuitem" class="stripped-btn w-100% ta-l" data-reach-menu-item="" data-valuetext="(any)" tabindex="-1" id="option-0--menu--15">(any)</div>
        {% for option in time_of_day_filter.options %}
          <div role="menuitem" class="stripped-btn w-100% ta-l" data-reach-menu-item="" data-valuetext="{{ option.value }}" tabindex="-1" id="option-{{loop.index}}--menu--15">{{ option.label }}</div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="mb-3">
    <input type="checkbox" id="enrollment-status" class="checkbox"/>
    <label for="enrollment-status" class="checkbox-label" >Include closed &amp; full groups</label>
  </div>
</div>