<!--
  templateType: "none"
  isAvailableForNewContent: false
-->
<article class="d-b" v-for="group in filteredGroups">
  <a :href='"/group/" + group.dynamic_page_slug' class="d-b">
    <div class="card-list-item__image">
      <img :alt='"Logo for " + group.name' loading="lazy" :src="group.featured_image" />
    </div>
    <div class="d-f jc-sb ai-fs">
      <h1 class="lh-1.333 c-tint0 fs-3 fw-600">[[ group.name ]]</h1>
      <span 
        class="badge ml-2" 
        :class="group.enrollment_open ? 'open-badge' : 'closed-badge'" 
        style="text-transform: capitalize">
        [[ group.enrollment_open ? 'Open' : 'Closed' ]]
      </span>

    </div>
    <div class="c-tint1 fs-13">[[ group.schedule ]]</div>
  </a>
</article>