<!--
  templateType: global_partial
  label: Group Resources Tab
-->
<div class="f-1">
	<div class="mt-1 mb-2 d-f jc-sb ai-c">
		<h1 class="lh-1.333 c-tint0 fs-2 fw-600">Resources</h1>


		<div class="d-f ai-c gap-2">
			<label class="screen-reader-text" for="sort-resources-menu-button">Sort by:</label>
			<button aria-controls="menu--27" aria-expanded="false" aria-haspopup="true" class="ta-l select small-select w-a" data-reach-menu-button="" id="sort-resources-menu-button" type="button">Name</button>
		</div>
	</div>


	<div>
		<ul class="unstyled">
			<li class="mb-2">
				<div class="d-f ai-c">
					<div class="w-6 h-6 mr-2 media-tile">
						<svg class="symbol c-tint3" role="img">
						<use xlink:href="/packs/b3a0770f4291d3f4e59b.svg#outlined-pdf-file">
						</use></svg>
					</div>


					<div class="f-1 d-f fd-c ai-fs">
						<a class="fw-500" href="/my/groups/interest-crafting-and-conversations/resources/865842">Bracelet Patterns</a>
					</div>
				</div>
			</li>


			<li class="mb-2">
				<div class="d-f ai-c">
					<div class="w-6 h-6 mr-2 media-tile">
						<svg class="symbol c-tint3" role="img">
						<use xlink:href="/packs/b3a0770f4291d3f4e59b.svg#outlined-pdf-file">
						</use></svg>
					</div>


					<div class="f-1 d-f fd-c ai-fs">
						<a class="fw-500" href="/my/groups/interest-crafting-and-conversations/resources/807419">Christmas wreath and Angel</a>
					</div>
				</div>
			</li>


			<li class="mb-2">
				<div class="d-f ai-c">
					<div class="w-6 h-6 mr-2 media-tile">
						<svg class="symbol c-tint3" role="img">
						<use xlink:href="/packs/b3a0770f4291d3f4e59b.svg#outlined-pdf-file">
						</use></svg>
					</div>


					<div class="f-1 d-f fd-c ai-fs">
						<a class="fw-500" href="/my/groups/interest-crafting-and-conversations/resources/801949">Final 3 Wreaths Supply List</a>
					</div>
				</div>
			</li>


			<li class="mb-2">
				<div class="d-f ai-fs">
					<div class="w-6 h-6 mr-2 media-tile">
						<svg class="symbol c-tint3" role="img">
						<use xlink:href="/packs/b3a0770f4291d3f4e59b.svg#link">
						</use></svg>
					</div>


					<div class="f-1 d-f fd-c ai-fs">
						<a class="fw-500" href="/my/groups/interest-crafting-and-conversations/resources/684925">Incident Report</a><span class="fs-4 c-tint2"><span><span><span>Submit this report if something happened to you or someone in your group that you would lik…</span></span></span><span style="position: fixed; visibility: hidden; top: 0px; left: 0px;">…</span></span>
					</div>
				</div>
			</li>


			<li class="mb-2">
				<div class="d-f ai-fs">
					<div class="w-6 h-6 mr-2 media-tile">
						<svg class="symbol c-tint3" role="img">
						<use xlink:href="/packs/b3a0770f4291d3f4e59b.svg#outlined-text-file">
						</use></svg>
					</div>


					<div class="f-1 d-f fd-c ai-fs">
						<a class="fw-500" href="/my/groups/interest-crafting-and-conversations/resources/778209">Supply List</a><span class="fs-4 c-tint2"><span><span>These are the supplies for making a wreath.</span></span><span style="position: fixed; visibility: hidden; top: 0px; left: 0px;">…</span></span>
					</div>
				</div>
			</li>


			<li class="mb-2">
				<div class="d-f ai-c">
					<div class="w-6 h-6 mr-2 media-tile">
						<svg class="symbol c-tint3" role="img">
						<use xlink:href="/packs/b3a0770f4291d3f4e59b.svg#outlined-pdf-file">
						</use></svg>
					</div>


					<div class="f-1 d-f fd-c ai-fs">
						<a class="fw-500" href="/my/groups/interest-crafting-and-conversations/resources/865831">Supply List for Friendship Bracelets</a>
					</div>
				</div>
			</li>


			<li class="mb-2">
				<div class="d-f ai-c">
					<div class="w-6 h-6 mr-2 media-tile">
						<svg class="symbol c-tint3" role="img">
						<use xlink:href="/packs/b3a0770f4291d3f4e59b.svg#outlined-pdf-file">
						</use></svg>
					</div>


					<div class="f-1 d-f fd-c ai-fs">
						<a class="fw-500" href="/my/groups/interest-crafting-and-conversations/resources/795240">Third Week Wreath</a>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>