{% set event_query = "limit=200&orderBy=starts_at" %}
{% set events = crm_associations(group.id, "USER_DEFINED", 219, event_query, "name, description, starts_at, starts_at_time, ends_at, ends_at_time").results %}
<div class="f-1">
	<div class="mb-3" style="">
		<div class="d-f ai-c mb-2">
			<h2 class="h3">Upcoming events</h2>


			<div class="ml-a">
				<button aria-controls="menu--15" aria-expanded="false" aria-haspopup="true" class="minor-btn secondary-btn btn" data-reach-menu-button="" id="menu-button--menu--15" type="button">
				<div class="d-f jc-sb ai-c">
					Subscribe to group calendar<span class="dropdown-trigger__icon fs-6 ml-4p"><svg class="symbol" role="img">
					<use xlink:href="/packs/b3a0770f4291d3f4e59b.svg#down-chevron">
					</use></svg></span>
				</div></button>
			</div>
		</div>


		<div class="ta-c c-tint3 p-4">
			<div style="font-size: 32px;">
				<svg class="symbol" role="img">
				<use xlink:href="/packs/89968e94549de0745d44.svg#calendar-events">
				</use></svg>
			</div>


			<p>There are currently no upcoming events scheduled for this group.</p>
		</div>
	</div>


	<div class="mb-3">
		<h2 class="h3">Past events</h2>


		<div>
			<div class="d-f mb-1 pt-1">
				<article class="d-f f-1 ai-c">
					<div class="mr-2">
						<a href="https://one-online.churchcenter.com/my/groups/interest-crafting-and-conversations/events/30244097">
						<div class="w-8 h-8 ta-c event-cal">
							<div class="event-cal__month">
								Sep
							</div>


							<div class="event-cal__day">
								9
							</div>
						</div></a>
					</div>


					<div class="f-1">
						<a class="fw-500" href="https://one-online.churchcenter.com/my/groups/interest-crafting-and-conversations/events/30244097">
						<div class="lh-1.5 mb-2p">
							Interest: Crafting and Conversations<span class="d-ib ml-4p c-tint3"><svg class="symbol" role="img">
							<use xlink:href="/packs/b3a0770f4291d3f4e59b.svg#calendar-repeat">
							</use></svg></span>
						</div></a>

						<div class="fs-13 lh-1.5 c-tint2">
							<time>Saturday, September 9, 2–4pm PDT</time>
						</div>
					</div>
				</article>
			</div>


			<div class="d-f mb-1 pt-1">
				<article class="d-f f-1 ai-c">
					<div class="mr-2">
						<a href="https://one-online.churchcenter.com/my/groups/interest-crafting-and-conversations/events/30244096">
						<div class="w-8 h-8 ta-c event-cal">
							<div class="event-cal__month">
								Sep
							</div>


							<div class="event-cal__day">
								2
							</div>
						</div></a>
					</div>


					<div class="f-1">
						<a class="fw-500" href="https://one-online.churchcenter.com/my/groups/interest-crafting-and-conversations/events/30244096">
						<div class="lh-1.5 mb-2p">
							Interest: Crafting and Conversations<span class="d-ib ml-4p c-tint3"><svg class="symbol" role="img">
							<use xlink:href="/packs/b3a0770f4291d3f4e59b.svg#calendar-repeat">
							</use></svg></span>
						</div></a>

						<div class="fs-13 lh-1.5 c-tint2">
							<time>Saturday, September 2, 2–4pm PDT</time>
						</div>
					</div>
				</article>
			</div>


			<div class="d-f mb-1 pt-1">
				<article class="d-f f-1 ai-c">
					<div class="mr-2">
						<a href="https://one-online.churchcenter.com/my/groups/interest-crafting-and-conversations/events/30244095">
						<div class="w-8 h-8 ta-c event-cal">
							<div class="event-cal__month">
								Aug
							</div>


							<div class="event-cal__day">
								26
							</div>
						</div></a>
					</div>


					<div class="f-1">
						<a class="fw-500" href="https://one-online.churchcenter.com/my/groups/interest-crafting-and-conversations/events/30244095">
						<div class="lh-1.5 mb-2p">
							Interest: Crafting and Conversations<span class="d-ib ml-4p c-tint3"><svg class="symbol" role="img">
							<use xlink:href="/packs/b3a0770f4291d3f4e59b.svg#calendar-repeat">
							</use></svg></span>
						</div></a>

						<div class="fs-13 lh-1.5 c-tint2">
							<time>Saturday, August 26, 2–4pm PDT</time>
						</div>
					</div>
				</article>
			</div>


			<div class="d-f mb-1 pt-1">
				<article class="d-f f-1 ai-c">
					<div class="mr-2">
						<a href="https://one-online.churchcenter.com/my/groups/interest-crafting-and-conversations/events/30244094">
						<div class="w-8 h-8 ta-c event-cal">
							<div class="event-cal__month">
								Aug
							</div>


							<div class="event-cal__day">
								19
							</div>
						</div></a>
					</div>


					<div class="f-1">
						<a class="fw-500" href="https://one-online.churchcenter.com/my/groups/interest-crafting-and-conversations/events/30244094">
						<div class="lh-1.5 mb-2p">
							Interest: Crafting and Conversations<span class="d-ib ml-4p c-tint3"><svg class="symbol" role="img">
							<use xlink:href="/packs/b3a0770f4291d3f4e59b.svg#calendar-repeat">
							</use></svg></span>
						</div></a>

						<div class="fs-13 lh-1.5 c-tint2">
							<time>Saturday, August 19, 2–4pm PDT</time>
						</div>
					</div>
				</article>
			</div>


			<div class="d-f mb-1 pt-1">
				<article class="d-f f-1 ai-c">
					<div class="mr-2">
						<a href="https://one-online.churchcenter.com/my/groups/interest-crafting-and-conversations/events/30244093">
						<div class="w-8 h-8 ta-c event-cal">
							<div class="event-cal__month">
								Aug
							</div>


							<div class="event-cal__day">
								12
							</div>
						</div></a>
					</div>


					<div class="f-1">
						<a class="fw-500" href="https://one-online.churchcenter.com/my/groups/interest-crafting-and-conversations/events/30244093">
						<div class="lh-1.5 mb-2p">
							Interest: Crafting and Conversations<span class="d-ib ml-4p c-tint3"><svg class="symbol" role="img">
							<use xlink:href="/packs/b3a0770f4291d3f4e59b.svg#calendar-repeat">
							</use></svg></span>
						</div></a>

						<div class="fs-13 lh-1.5 c-tint2">
							<time>Saturday, August 12, 2–4pm PDT</time>
						</div>
					</div>
				</article>
			</div>


			<div class="d-f mb-1 pt-1">
				<article class="d-f f-1 ai-c">
					<div class="mr-2">
						<a href="https://one-online.churchcenter.com/my/groups/interest-crafting-and-conversations/events/30244092">
						<div class="w-8 h-8 ta-c event-cal">
							<div class="event-cal__month">
								Aug
							</div>


							<div class="event-cal__day">
								5
							</div>
						</div></a>
					</div>


					<div class="f-1">
						<a class="fw-500" href="https://one-online.churchcenter.com/my/groups/interest-crafting-and-conversations/events/30244092">
						<div class="lh-1.5 mb-2p">
							Interest: Crafting and Conversations<span class="d-ib ml-4p c-tint3"><svg class="symbol" role="img">
							<use xlink:href="/packs/b3a0770f4291d3f4e59b.svg#calendar-repeat">
							</use></svg></span>
						</div></a>

						<div class="fs-13 lh-1.5 c-tint2">
							<time>Saturday, August 5, 2–4pm PDT</time>
						</div>
					</div>
				</article>
			</div>


			<div class="d-f mb-1 pt-1">
				<article class="d-f f-1 ai-c">
					<div class="mr-2">
						<a href="https://one-online.churchcenter.com/my/groups/interest-crafting-and-conversations/events/29039559">
						<div class="w-8 h-8 ta-c event-cal">
							<div class="event-cal__month">
								Jun
							</div>


							<div class="event-cal__day">
								10
							</div>
						</div></a>
					</div>


					<div class="f-1">
						<a class="fw-500" href="https://one-online.churchcenter.com/my/groups/interest-crafting-and-conversations/events/29039559">
						<div class="lh-1.5 mb-2p">
							Crafting and Conversations<span class="d-ib ml-4p c-tint3"><svg class="symbol" role="img">
							<use xlink:href="/packs/b3a0770f4291d3f4e59b.svg#calendar-repeat">
							</use></svg></span>
						</div></a>

						<div class="fs-13 lh-1.5 c-tint2">
							<time>Saturday, June 10, 2–4pm PDT</time>
						</div>
					</div>
				</article>
			</div>


			<div class="d-f mb-1 pt-1">
				<article class="d-f f-1 ai-c">
					<div class="mr-2">
						<a href="https://one-online.churchcenter.com/my/groups/interest-crafting-and-conversations/events/29039558">
						<div class="w-8 h-8 ta-c event-cal">
							<div class="event-cal__month">
								Jun
							</div>


							<div class="event-cal__day">
								3
							</div>
						</div></a>
					</div>


					<div class="f-1">
						<a class="fw-500" href="https://one-online.churchcenter.com/my/groups/interest-crafting-and-conversations/events/29039558">
						<div class="lh-1.5 mb-2p">
							Crafting and Conversations<span class="d-ib ml-4p c-tint3"><svg class="symbol" role="img">
							<use xlink:href="/packs/b3a0770f4291d3f4e59b.svg#calendar-repeat">
							</use></svg></span>
						</div></a>

						<div class="fs-13 lh-1.5 c-tint2">
							<time>Saturday, June 3, 2–4pm PDT</time>
						</div>
					</div>
				</article>
			</div>


			<div class="d-f mb-1 pt-1">
				<article class="d-f f-1 ai-c">
					<div class="mr-2">
						<a href="https://one-online.churchcenter.com/my/groups/interest-crafting-and-conversations/events/29039557">
						<div class="w-8 h-8 ta-c event-cal">
							<div class="event-cal__month">
								May
							</div>


							<div class="event-cal__day">
								27
							</div>
						</div></a>
					</div>


					<div class="f-1">
						<a class="fw-500" href="https://one-online.churchcenter.com/my/groups/interest-crafting-and-conversations/events/29039557">
						<div class="lh-1.5 mb-2p">
							Crafting and Conversations<span class="d-ib ml-4p c-tint3"><svg class="symbol" role="img">
							<use xlink:href="/packs/b3a0770f4291d3f4e59b.svg#calendar-repeat">
							</use></svg></span>
						</div></a>

						<div class="fs-13 lh-1.5 c-tint2">
							<time>Saturday, May 27, 2–4pm PDT</time>
						</div>
					</div>
				</article>
			</div>


			<div class="d-f mb-1 pt-1">
				<article class="d-f f-1 ai-c">
					<div class="mr-2">
						<a href="https://one-online.churchcenter.com/my/groups/interest-crafting-and-conversations/events/29039556">
						<div class="w-8 h-8 ta-c event-cal">
							<div class="event-cal__month">
								May
							</div>


							<div class="event-cal__day">
								20
							</div>
						</div></a>
					</div>


					<div class="f-1">
						<a class="fw-500" href="https://one-online.churchcenter.com/my/groups/interest-crafting-and-conversations/events/29039556">
						<div class="lh-1.5 mb-2p">
							Crafting and Conversations<span class="d-ib ml-4p c-tint3"><svg class="symbol" role="img">
							<use xlink:href="/packs/b3a0770f4291d3f4e59b.svg#calendar-repeat">
							</use></svg></span>
						</div></a>

						<div class="fs-13 lh-1.5 c-tint2">
							<time>Saturday, May 20, 2–4pm PDT</time>
						</div>
					</div>
				</article>
			</div>


			<div class="d-f mb-1 pt-1">
				<article class="d-f f-1 ai-c">
					<div class="mr-2">
						<a href="https://one-online.churchcenter.com/my/groups/interest-crafting-and-conversations/events/29039555">
						<div class="w-8 h-8 ta-c event-cal">
							<div class="event-cal__month">
								May
							</div>


							<div class="event-cal__day">
								13
							</div>
						</div></a>
					</div>


					<div class="f-1">
						<a class="fw-500" href="https://one-online.churchcenter.com/my/groups/interest-crafting-and-conversations/events/29039555">
						<div class="lh-1.5 mb-2p">
							Crafting and Conversations<span class="d-ib ml-4p c-tint3"><svg class="symbol" role="img">
							<use xlink:href="/packs/b3a0770f4291d3f4e59b.svg#calendar-repeat">
							</use></svg></span>
						</div></a>

						<div class="fs-13 lh-1.5 c-tint2">
							<time>Saturday, May 13, 2–4pm PDT</time>
						</div>
					</div>
				</article>
			</div>


			<div class="d-f mb-1 pt-1">
				<article class="d-f f-1 ai-c">
					<div class="mr-2">
						<a href="https://one-online.churchcenter.com/my/groups/interest-crafting-and-conversations/events/29039554">
						<div class="w-8 h-8 ta-c event-cal">
							<div class="event-cal__month">
								May
							</div>


							<div class="event-cal__day">
								6
							</div>
						</div></a>
					</div>


					<div class="f-1">
						<a class="fw-500" href="https://one-online.churchcenter.com/my/groups/interest-crafting-and-conversations/events/29039554">
						<div class="lh-1.5 mb-2p">
							Crafting and Conversations<span class="d-ib ml-4p c-tint3"><svg class="symbol" role="img">
							<use xlink:href="/packs/b3a0770f4291d3f4e59b.svg#calendar-repeat">
							</use></svg></span>
						</div></a>

						<div class="fs-13 lh-1.5 c-tint2">
							<time>Saturday, May 6, 2–4pm PDT</time>
						</div>
					</div>
				</article>
			</div>


			<div class="d-f mb-1 pt-1">
				<article class="d-f f-1 ai-c">
					<div class="mr-2">
						<a href="https://one-online.churchcenter.com/my/groups/interest-crafting-and-conversations/events/27217518">
						<div class="w-8 h-8 ta-c event-cal">
							<div class="event-cal__month">
								Mar
							</div>


							<div class="event-cal__day">
								11
							</div>
						</div></a>
					</div>


					<div class="f-1">
						<a class="fw-500" href="https://one-online.churchcenter.com/my/groups/interest-crafting-and-conversations/events/27217518">
						<div class="lh-1.5 mb-2p">
							Crafting and Conversations<span class="d-ib ml-4p c-tint3"><svg class="symbol" role="img">
							<use xlink:href="/packs/b3a0770f4291d3f4e59b.svg#calendar-repeat">
							</use></svg></span>
						</div></a>

						<div class="fs-13 lh-1.5 c-tint2">
							<time>Saturday, March 11, 2–3:30pm PST</time>
						</div>
					</div>
				</article>
			</div>


			<div class="d-f mb-1 pt-1">
				<article class="d-f f-1 ai-c">
					<div class="mr-2">
						<a href="https://one-online.churchcenter.com/my/groups/interest-crafting-and-conversations/events/27217517">
						<div class="w-8 h-8 ta-c event-cal">
							<div class="event-cal__month">
								Mar
							</div>


							<div class="event-cal__day">
								4
							</div>
						</div></a>
					</div>


					<div class="f-1">
						<a class="fw-500" href="https://one-online.churchcenter.com/my/groups/interest-crafting-and-conversations/events/27217517">
						<div class="lh-1.5 mb-2p">
							Crafting and Conversations<span class="d-ib ml-4p c-tint3"><svg class="symbol" role="img">
							<use xlink:href="/packs/b3a0770f4291d3f4e59b.svg#calendar-repeat">
							</use></svg></span>
						</div></a>

						<div class="fs-13 lh-1.5 c-tint2">
							<time>Saturday, March 4, 2–3:30pm PST</time>
						</div>
					</div>
				</article>
			</div>


			<div class="d-f mb-1 pt-1">
				<article class="d-f f-1 ai-c">
					<div class="mr-2">
						<a href="https://one-online.churchcenter.com/my/groups/interest-crafting-and-conversations/events/27217516">
						<div class="w-8 h-8 ta-c event-cal">
							<div class="event-cal__month">
								Feb
							</div>


							<div class="event-cal__day">
								25
							</div>
						</div></a>
					</div>


					<div class="f-1">
						<a class="fw-500" href="https://one-online.churchcenter.com/my/groups/interest-crafting-and-conversations/events/27217516">
						<div class="lh-1.5 mb-2p">
							Crafting and Conversations<span class="d-ib ml-4p c-tint3"><svg class="symbol" role="img">
							<use xlink:href="/packs/b3a0770f4291d3f4e59b.svg#calendar-repeat">
							</use></svg></span>
						</div></a>

						<div class="fs-13 lh-1.5 c-tint2">
							<time>Saturday, February 25, 2–3:30pm PST</time>
						</div>
					</div>
				</article>
			</div>


			<div class="d-f mb-1 pt-1">
				<article class="d-f f-1 ai-c">
					<div class="mr-2">
						<a href="https://one-online.churchcenter.com/my/groups/interest-crafting-and-conversations/events/27217515">
						<div class="w-8 h-8 ta-c event-cal">
							<div class="event-cal__month">
								Feb
							</div>


							<div class="event-cal__day">
								18
							</div>
						</div></a>
					</div>


					<div class="f-1">
						<a class="fw-500" href="https://one-online.churchcenter.com/my/groups/interest-crafting-and-conversations/events/27217515">
						<div class="lh-1.5 mb-2p">
							Crafting and Conversations<span class="d-ib ml-4p c-tint3"><svg class="symbol" role="img">
							<use xlink:href="/packs/b3a0770f4291d3f4e59b.svg#calendar-repeat">
							</use></svg></span>
						</div></a>

						<div class="fs-13 lh-1.5 c-tint2">
							<time>Saturday, February 18, 2–3:30pm PST</time>
						</div>
					</div>
				</article>
			</div>


			<div class="d-f mb-1 pt-1">
				<article class="d-f f-1 ai-c">
					<div class="mr-2">
						<a href="https://one-online.churchcenter.com/my/groups/interest-crafting-and-conversations/events/27217514">
						<div class="w-8 h-8 ta-c event-cal">
							<div class="event-cal__month">
								Feb
							</div>


							<div class="event-cal__day">
								11
							</div>
						</div></a>
					</div>


					<div class="f-1">
						<a class="fw-500" href="https://one-online.churchcenter.com/my/groups/interest-crafting-and-conversations/events/27217514">
						<div class="lh-1.5 mb-2p">
							Crafting and Conversations<span class="d-ib ml-4p c-tint3"><svg class="symbol" role="img">
							<use xlink:href="/packs/b3a0770f4291d3f4e59b.svg#calendar-repeat">
							</use></svg></span>
						</div></a>

						<div class="fs-13 lh-1.5 c-tint2">
							<time>Saturday, February 11, 2–3:30pm PST</time>
						</div>
					</div>
				</article>
			</div>


			<div class="d-f mb-1 pt-1">
				<article class="d-f f-1 ai-c">
					<div class="mr-2">
						<a href="https://one-online.churchcenter.com/my/groups/interest-crafting-and-conversations/events/27217513">
						<div class="w-8 h-8 ta-c event-cal">
							<div class="event-cal__month">
								Feb
							</div>


							<div class="event-cal__day">
								4
							</div>
						</div></a>
					</div>


					<div class="f-1">
						<a class="fw-500" href="https://one-online.churchcenter.com/my/groups/interest-crafting-and-conversations/events/27217513">
						<div class="lh-1.5 mb-2p">
							Crafting and Conversations<span class="d-ib ml-4p c-tint3"><svg class="symbol" role="img">
							<use xlink:href="/packs/b3a0770f4291d3f4e59b.svg#calendar-repeat">
							</use></svg></span>
						</div></a>

						<div class="fs-13 lh-1.5 c-tint2">
							<time>Saturday, February 4, 2–3:30pm PST</time>
						</div>
					</div>
				</article>
			</div>


			<div class="d-f mb-1 pt-1">
				<article class="d-f f-1 ai-c">
					<div class="mr-2">
						<a href="https://one-online.churchcenter.com/my/groups/interest-crafting-and-conversations/events/25326390">
						<div class="w-8 h-8 ta-c event-cal">
							<div class="event-cal__month">
								Nov
							</div>


							<div class="event-cal__day">
								19
							</div>
						</div></a>
					</div>


					<div class="f-1">
						<a class="fw-500" href="https://one-online.churchcenter.com/my/groups/interest-crafting-and-conversations/events/25326390">
						<div class="lh-1.5 mb-2p">
							Crafting and Conversations<span class="d-ib ml-4p c-tint3"><svg class="symbol" role="img">
							<use xlink:href="/packs/b3a0770f4291d3f4e59b.svg#calendar-repeat">
							</use></svg></span>
						</div></a>

						<div class="fs-13 lh-1.5 c-tint2">
							<time>Saturday, November 19, 2022, 2–4pm PST</time>
						</div>
					</div>
				</article>
			</div>


			<div class="d-f mb-1 pt-1">
				<article class="d-f f-1 ai-c">
					<div class="mr-2">
						<a href="https://one-online.churchcenter.com/my/groups/interest-crafting-and-conversations/events/25326389">
						<div class="w-8 h-8 ta-c event-cal">
							<div class="event-cal__month">
								Nov
							</div>


							<div class="event-cal__day">
								12
							</div>
						</div></a>
					</div>


					<div class="f-1">
						<a class="fw-500" href="https://one-online.churchcenter.com/my/groups/interest-crafting-and-conversations/events/25326389">
						<div class="lh-1.5 mb-2p">
							Crafting and Conversations<span class="d-ib ml-4p c-tint3"><svg class="symbol" role="img">
							<use xlink:href="/packs/b3a0770f4291d3f4e59b.svg#calendar-repeat">
							</use></svg></span>
						</div></a>

						<div class="fs-13 lh-1.5 c-tint2">
							<time>Saturday, November 12, 2022, 2–4pm PST</time>
						</div>
					</div>
				</article>
			</div>


			<div class="d-f mb-1 pt-1">
				<article class="d-f f-1 ai-c">
					<div class="mr-2">
						<a href="https://one-online.churchcenter.com/my/groups/interest-crafting-and-conversations/events/25326388">
						<div class="w-8 h-8 ta-c event-cal">
							<div class="event-cal__month">
								Nov
							</div>


							<div class="event-cal__day">
								5
							</div>
						</div></a>
					</div>


					<div class="f-1">
						<a class="fw-500" href="https://one-online.churchcenter.com/my/groups/interest-crafting-and-conversations/events/25326388">
						<div class="lh-1.5 mb-2p">
							Crafting and Conversations<span class="d-ib ml-4p c-tint3"><svg class="symbol" role="img">
							<use xlink:href="/packs/b3a0770f4291d3f4e59b.svg#calendar-repeat">
							</use></svg></span>
						</div></a>

						<div class="fs-13 lh-1.5 c-tint2">
							<time>Saturday, November 5, 2022, 2–4pm PDT</time>
						</div>
					</div>
				</article>
			</div>


			<div class="d-f mb-1 pt-1">
				<article class="d-f f-1 ai-c">
					<div class="mr-2">
						<a href="https://one-online.churchcenter.com/my/groups/interest-crafting-and-conversations/events/25326387">
						<div class="w-8 h-8 ta-c event-cal">
							<div class="event-cal__month">
								Oct
							</div>


							<div class="event-cal__day">
								29
							</div>
						</div></a>
					</div>


					<div class="f-1">
						<a class="fw-500" href="https://one-online.churchcenter.com/my/groups/interest-crafting-and-conversations/events/25326387">
						<div class="lh-1.5 mb-2p">
							Crafting and Conversations<span class="d-ib ml-4p c-tint3"><svg class="symbol" role="img">
							<use xlink:href="/packs/b3a0770f4291d3f4e59b.svg#calendar-repeat">
							</use></svg></span>
						</div></a>

						<div class="fs-13 lh-1.5 c-tint2">
							<time>Saturday, October 29, 2022, 2–4pm PDT</time>
						</div>
					</div>
				</article>
			</div>


			<div class="d-f mb-1 pt-1">
				<article class="d-f f-1 ai-c">
					<div class="mr-2">
						<a href="https://one-online.churchcenter.com/my/groups/interest-crafting-and-conversations/events/25326386">
						<div class="w-8 h-8 ta-c event-cal">
							<div class="event-cal__month">
								Oct
							</div>


							<div class="event-cal__day">
								22
							</div>
						</div></a>
					</div>


					<div class="f-1">
						<a class="fw-500" href="https://one-online.churchcenter.com/my/groups/interest-crafting-and-conversations/events/25326386">
						<div class="lh-1.5 mb-2p">
							Crafting and Conversations<span class="d-ib ml-4p c-tint3"><svg class="symbol" role="img">
							<use xlink:href="/packs/b3a0770f4291d3f4e59b.svg#calendar-repeat">
							</use></svg></span>
						</div></a>

						<div class="fs-13 lh-1.5 c-tint2">
							<time>Saturday, October 22, 2022, 2–4pm PDT</time>
						</div>
					</div>
				</article>
			</div>


			<div class="d-f mb-1 pt-1">
				<article class="d-f f-1 ai-c">
					<div class="mr-2">
						<a href="https://one-online.churchcenter.com/my/groups/interest-crafting-and-conversations/events/25326385">
						<div class="w-8 h-8 ta-c event-cal">
							<div class="event-cal__month">
								Oct
							</div>


							<div class="event-cal__day">
								15
							</div>
						</div></a>
					</div>


					<div class="f-1">
						<a class="fw-500" href="https://one-online.churchcenter.com/my/groups/interest-crafting-and-conversations/events/25326385">
						<div class="lh-1.5 mb-2p">
							Crafting and Conversations<span class="d-ib ml-4p c-tint3"><svg class="symbol" role="img">
							<use xlink:href="/packs/b3a0770f4291d3f4e59b.svg#calendar-repeat">
							</use></svg></span>
						</div></a>

						<div class="fs-13 lh-1.5 c-tint2">
							<time>Saturday, October 15, 2022, 2–4pm PDT</time>
						</div>
					</div>
				</article>
			</div>
		</div>
	</div>
</div>