<!--
  templateType: global_partial
  label: Events Details Sidebar
-->
<div class="w-33%@md o-1@md" v-if="event.category">
  <div class="mb-3 mb-4@md">
    <h2 class="fs-4 fw-600 lh-20p tt-u c-tint3">Categories</h2>
    <div class="d-f fw-w g-4p mt-1">
      <div class="badge">[[ event.category ]]</div>
    </div>
  </div>
  <div class="mb-3 mb-4@md" v-if="event.location_name">
    <div class="mb-1 d-f ai-c jc-sb fw-w">
      <h2 class="fs-4 fw-600 lh-20p tt-u c-tint3">Location</h2>
    </div>
    <div class="fs-4">[[ event.location_name ]]</div>
  </div>
  <div class="mb-3 mb-4@md" v-if="event.selections.length">
    <div class="mb-3">
      <h2 class="fs-4 fw-600 lh-20p tt-u c-tint3">Selections</h2>
      <div class="mt-1 false">
        <ul class="unstyled fs-4">
          <li class="mb-1" v-for="selection in event.selections">
            <div class="truncate">[[ selection.name ]]</div>
            <div class="fs-13 lh-1.5 c-tint2"></div>
            <div class="fs-13 lh-1.5 c-tint2"></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
