<!--
  templateType: global_partial
  label: Events Details Registration Bar
-->
{% macro contactInitials(firstname, lastname) %}
  {% set initials = "" %}
  {% if firstname|length>0 %}
    {% set initials = initials ~ truncate(firstname, 1, false, "") %}
  {% endif %}
  {% if lastname|length>0 %}
    {% set initials = initials ~ truncate(lastname, 1, false, "") %}
  {% endif %}
  {{ initials }}
{% endmacro %}

{% if request_contact.is_logged_in %}
	{% set household = contact.associations.households.items[0] %}
	{% set household_members = household.associations.members.items %}
{% endif %}

{% if event.id %}
	{% set selections = crm_associations(event.id, "USER_DEFINED", 344, "show=true", 
		"name,
		show,
		cost,
		personal_information_to_collect,
		grade_label,
		grade_restriction_phrase,
		min_grade,
		max_grade,
		custom_confirmation_message,
		address,
		gender_restriction_unit,
		age_grade_restriction_unit,
		allow_partial_payments,
		grade_required,
		emergency_contact_required,
		gender_required,
		birthdate_required,
		email,
		phone,
		address,
		medical"
	).results %}
	{% set initial_selection = selections|first %}
	{% set min_grade_options = crm_property_definition("selection_types", "min_grade") %}
	{% set max_grade_options = crm_property_definition("selection_types", "max_grade") %}
	
{% endif %}
<div class="mb-3@sm px-2 action-drawer d-f ai-c jc-sb action-bar">
	<div data-turbolinks="false">
		<div class="c-tint2 fs-13 f-1 mr-2 lh-1.5">
		{{ 'Registration is open' if event.registration_status == "Open" else 'Registration is closed.' }}
		</div>
		<div class="c-tint2 fs-13 f-1 mr-2 lh-1.5"></div>
	</div>
	<div class="ta-r">
		{% if event.registration_status == "Open" %}
				{% if request_contact.is_logged_in %}
					<a class="btn modal-trigger" data-target="register-modal">Register</a>
				{% else %}
					<a class="btn" href="/_hcms/mem/login">Register</a>
				{% endif %}			
		{% endif %}
	</div>
</div>
<div id="register-modal" class="modal" data-focus-lock-disabled="false">
	<div>
		<div data-reach-alert-dialog-overlay="true" data-reach-dialog-overlay="">
			<div aria-describedby="alert-dialog-description--1" aria-labelledby="alert-dialog--1" aria-modal="true" data-reach-alert-dialog-content="true" data-reach-alert-dialong-content="true" data-reach-dialog-content="" role="alertdialog" tabindex="-1">
				<div class="mb-1" data-reach-alert-dialog-label="true" id="alert-dialog--1">
					{{ group.name }}
				</div>
				<div data-reach-alert-dialog-description="true" id="alert-dialog-description--1">
					<div class="mb-2">
						<h2 class="lh-1.333 c-tint0 fs-3 fw-600">Select Participants</h2>
						<form data-endpoint="https://{{ request.domain }}/_hcms/api/event/join" method="POST">
							<div class="d-f ai-c jc-sb action-drawer mt-2 mb-2">
								<div class="d-f">
									<div class="avatar w-6 h-6 mr-2">
										{{ contactInitials(contact.firstname, contact.lastname) }}
									</div>
									<div class="d-f fd-c">
										<div>
											{{ contact.firstname ~ " " ~ contact.lastname }}
										</div>
										<div class="fs-13 c-tint2">
											{{ contact.email }}
										</div>
									</div>
								</div>
							</div>
							<div id="participant-container">
								<template id="participant-template">
									<div>
										<div class="action-drawer mb-1">
											<div class="d-f">
												<div>
													<input checked class="large-checkbox checkbox" id="89db82df-1be3-4a9d-97d1-4de66ca9e03d" name="89db82df-1be3-4a9d-97d1-4de66ca9e03d" type="checkbox">
													<label class="large-checkbox-label checkbox-label" for="89db82df-1be3-4a9d-97d1-4de66ca9e03d"></label>
												</div>
												<div class="ml-1 f-1">
													<div>
														<div class="d-f@md f_1">
															<div class="mb-1 mr-4p@md">
																<input autocomplete="off" class="" placeholder="First name" type="text" value="">
															</div>
															<div class="mb-1 ml-4p@md">
																<input autocomplete="off" class="" placeholder="Last name" type="text" value="">
															</div>
														</div>
														{% if initial_selection.email != "hidden" %}
														<div class="mb-1">
															<input autocomplete="off" class="" placeholder="Email address ({{ initial_selection.email }})" type="text" value="">
														</div>
														{% endif %}
														{% if initial_selection.address != "hidden" %}
															<div class="collection-js required">
																<div class="label address-is-required-js">
																	Address <span class="c-ruby">*</span>
																</div>
																<div class="mb-1 line-to-hide-js person-address-js">
																	<input autocomplete="off" id="attendee_person_attributes_contact_data_addresses__person_id" name="attendee[person_attributes][contact_data][addresses][][person_id]" type="hidden" value="27452346">
																	<input autocomplete="off" id="address_hidden_field_primary_" name="attendee[person_attributes][contact_data][addresses][][primary]" type="hidden" value="false">
																	<div class="mb-1 d-f">
																		<div>
																			<label class="screen-reader-text" for="address_location">Location</label> <span class="custom-select"><select class="select custom-select-js custom-selected-js" id="address_location" name="attendee[person_attributes][contact_data][addresses][][location]">
																				<option value="Home">
																					Home
																				</option>
																				<option value="Work">
																					Work
																				</option>
																				<option value="Other">
																					Other
																				</option>
																			</select></span>
																		</div>
																		<div class="f-1 pl-1">
																			<label class="screen-reader-text" for="address_street_line_1_">Street line 1</label> <input id="address_street_line_1_" name="attendee[person_attributes][contact_data][addresses][][street_line_1]" placeholder="street address" type="text">
																		</div>
																	</div>
																	<div class="mb-1 d-f">
																		<div class="f-1">
																			<label class="screen-reader-text" for="address_street_line_1_">Street line 2</label> <input id="address_street_line_2_" name="attendee[person_attributes][contact_data][addresses][][street_line_2]" placeholder="apt/unit/box" type="text">
																		</div>
																	</div>
																	<div class="d-f@xs">
																		<div>
																			<label class="screen-reader-text" for="address_city_">City</label> <input id="address_city_" name="attendee[person_attributes][contact_data][addresses][][city]" placeholder="city" type="text">
																		</div>
																		<div class="my-1 my-0@xs px-1@xs f-1">
																			<label class="screen-reader-text" for="address_state_">State</label> <input id="address_state_" name="attendee[person_attributes][contact_data][addresses][][state]" placeholder="state" type="text">
																		</div>
																		<div class="f-1">
																			<label class="screen-reader-text" for="address_zip_">Zip</label> <input id="address_zip_" name="attendee[person_attributes][contact_data][addresses][][zip]" placeholder="zip code" type="text">
																		</div>
																	</div>
																	<div class="ta-r">
																		<button class="destroy-btn minor-compact-btn btn destroy-nested-association-button-js remove-address-js hide"><svg aria-labelledby="desc-x-146f" class="symbol mr-4p" role="img">
																		<desc id="desc-x-146f">
																			x icon
																		</desc>
																		<use xlink:href="/registrations//assets/@planningcenter/icons/sprites/general-dd391937b5b62c0a9444f516305e27b214b71b8fb529af5e9c6354627750c34e.svg#x"></use></svg> Delete</button>
																	</div>
																</div>
															</div>
														{% endif %}

														{% if initial_selection.phone != "hidden" %}
															<div class="label">Phone number<span class="c-ruby"></span></div>
															<div class="mb-1 line-to-hide-js person-phone-number-js">
																<input autocomplete="off" class="database-id-js" id="phone_number_hidden_field_" name="attendee[person_attributes][contact_data][phone_numbers][][id]" type="hidden">
																<input autocomplete="off" id="phone_number_hidden_field_primary_" name="attendee[person_attributes][contact_data][phone_numbers][][primary]" type="hidden" value="false">
																<input autocomplete="off" class="toggle-checkbox-js" id="phone_number_destroy_field_" name="attendee[person_attributes][contact_data][phone_numbers][][_destroy]" type="hidden" value="0">
																<div class="d-f">
																	<div>
																		<label class="screen-reader-text" for="phone_number_location_">Location</label> <span class="custom-select"><select class="select custom-select-js custom-selected-js" id="phone_number_location_" name="attendee[person_attributes][contact_data][phone_numbers][][location]">
																			<option value="Mobile">
																				Mobile
																			</option>
																			<option value="Home">
																				Home
																			</option>
																			<option value="Work">
																				Work
																			</option>
																			<option value="Pager">
																				Pager
																			</option>
																			<option value="Fax">
																				Fax
																			</option>
																			<option value="Skype">
																				Skype
																			</option>
																			<option value="Other">
																				Other
																			</option>
																		</select></span>
																	</div>
																	<div class="f-1 pl-1">
																		<label class="screen-reader-text" for="phone_number_">Number</label> <input class="" id="phone_number_" name="attendee[person_attributes][contact_data][phone_numbers][][number]" placeholder="phone number" type="text">
																	</div>
																</div>
																<div class="ta-r">
																	<button class="destroy-btn minor-compact-btn btn destroy-nested-association-button-js remove-phone-number-js"><svg aria-labelledby="desc-x-98c4" class="symbol mr-4p" role="img">
																	<desc id="desc-x-98c4">
																		x icon
																	</desc>
																	<use xlink:href="/registrations//assets/@planningcenter/icons/sprites/general-dd391937b5b62c0a9444f516305e27b214b71b8fb529af5e9c6354627750c34e.svg#x"></use></svg> Delete</button>
																</div>
															</div>
														{% endif %}
														<div class="mt-2 {% if initial_selection.gender_required%}required{% endif %}">
															<label for="attendee_personal_info_gender">
																Gender<span class="c-ruby">*</span>
															</label>
															<span class="custom-select">
																<select name="attendee[personal_info][gender]" id="attendee_personal_info_gender" class="select custom-select-js custom-selected-js">
																	<option selected="selected" value=""></option>
																	<option value="Male">Male</option>
																	<option value="Female">Female</option>
																</select>
															</span>
														</div>
														<div>
															<div class="mb-2">
																<input class="checkbox" id="89db82df-1be3-4a9d-97d1-4de66ca9e03d1" readonly type="checkbox">
																<label class="checkbox-label" for="89db82df-1be3-4a9d-97d1-4de66ca9e03d1" style="line-height: 1;">
																	<span class="fs-4">This person is in my household</span>
																</label>
															</div>
															<div class="mb-1">
																<div>
																	<div>
																		<label class="label fw-500">Relationship</label>
																		<select class="select w-a" id="relationship_type" name="relationship_type">
																			<option value="" selected></option>
																			<option value="320">Child</option>
																			<option value="316">Parent</option>
																			<option value="318">Guardian</option>
																			<option value="">Spouse</option>
																		</select>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="css-1qhilh7-TypeSelectionDropdown">
														<div class="dropdown">
															<button aria-haspopup="menu" aria-label="menu" class="select ta-l css-1va3n4f-TypeSelectionDropdown" id="type_selection_8500">{{ initial_selection.name }}</button>
															{% for selection in selections %}
															<div aria-labelledby="type_selection_8500" class="dropdown__menu w-100% p-r" role="menu">
																<button class="stripped-btn dropdown__item w-100% ta-l is-selected css-1vmyrqy-TypeSelectionDropdown" value="{{ selection.id }}">{{ selection.name }}
																	<div class="fs-5 c-tint2"></div>
																	<div class="fs-5 c-tint2">
																		Pre-K - 6th grade only
																	</div>
																	<div class="fs-5 c-tint2"></div>
																</button>
															</div>
															{% endfor %}
														</div>
													</div>
													<div class="mt-2">
														{% if initial_selection.grade_required %}
														<div>
															<div>
																<label class="label fw-500">Grade</label>
																<select class="select w-a" id="attendee_type_min_grade" name="attendee_type[min_grade]">
																	{% for option in min_grade_options.options %}
																	<option value="{{ option.value }}">
																		{{ option.label }}
																	</option>
																	{% endfor %}
																</select>
															</div>
															<em class="fs-13 c-tint2 p-r pl-1">Pre-K - 6th grade only</em>
														</div>
														{% endif %}
													</div>
												</div>
											</div>
										</div>
									</div>
								</template>
							</div>
							<div>
								<div>
									<div class="ta-c ta-r@md">
										<button type="button" id="add-participant-btn" class="minor-btn secondary-btn btn">
											<div style="font-size: 9px; margin-right: 4px;">
												<svg role="img" class="symbol">
													<use xlink:href="/registrations/packs/f3e5f8382d7bf5da1d0942ffd3165e11.svg#plus"></use>
												</svg>
											</div>
											Add someone else
										</button>
									</div>
								</div>
							</div>
							<button class="btn" type="button">Next: Details</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>