<!--
  templateType: global_partial
  label: Events Filter
-->
<div
  data-testid="grid"
  class="filter-buttons grid grid-cols-1 xs:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2 action-drawer"
>
  <div class="menu-group">
    <button
      aria-expanded="false"
      aria-haspopup="true"
      aria-controls="menu--campus"
      class="select truncate ta-l"
      type="button"
      id="menu-button--menu--campus"
      @click.prevent="activeMenu = 'campus'"
    >
      [[ filterLabels.campus ]]
    </button>
    <div 
      v-if="activeMenu === 'campus'"
      class="menu-group--flyoyout"
    >
      <div
        aria-labelledby="menu-button--menu--campus"
        role="menu"
        id="menu--campus"
        data-reach-menu-list=""
        data-reach-menu-button=""
        tabindex="-1"
        style="max-height: 15.5rem; max-width: 13rem; overflow: auto"
      >
        <div
          role="menuitem"
          class="stripped-btn w-100% ta-l"
          data-reach-menu-item=""
          data-valuetext="(any)"
          tabindex="-1"
          id="option-0--menu--campus"
          @click.prevent="applyFilter('campus', '')"
        >
          (any)
        </div>
        <div
          role="menuitem"
          class="stripped-btn w-100% ta-l"
          data-reach-menu-item=""
          :data-valuetext="option.value"
          tabindex="-1"
          v-for="(option, index) in filters.campus"
          :key="index"
          @click.prevent="applyFilter('campus', option.value)"
        >
          [[ option.label ]]
        </div>
      </div>
    </div>
  </div>
  <div class="menu-group">
    <button
      aria-expanded="false"
      aria-haspopup="true"
      aria-controls="menu--category"
      class="select truncate ta-l"
      type="button"
      id="menu-button--menu--category"
      @click.prevent="activeMenu = 'category'"
    >
      [[ filterLabels.category ]]
    </button>
    <div 
      v-if="activeMenu === 'category'"
      class="menu-group--flyoyout"
    >
      <div
        aria-labelledby="menu-button--menu--category"
        role="menu"
        id="menu--campus"
        data-reach-menu-list=""
        data-reach-menu-button=""
        tabindex="-1"
        style="max-height: 15.5rem; max-width: 13rem; overflow: auto"
      >
        <div
          role="menuitem"
          class="stripped-btn w-100% ta-l"
          data-reach-menu-item=""
          data-valuetext="(any)"
          tabindex="-1"
          id="option-0--menu--category"
          @click.prevent="applyFilter('category', '')"
        >
          (any)
        </div>
        <div
          role="menuitem"
          class="stripped-btn w-100% ta-l"
          data-reach-menu-item=""
          :data-valuetext="option.value"
          tabindex="-1"
          v-for="(option, index) in filters.category"
          :key="index"
          @click.prevent="applyFilter('category', option.value)"
        >
          [[ option.label ]]
        </div>
      </div>
    </div>
  </div>
</div>
