<!--
  templateType: global_partial
  label: Events Details Header
-->
<div class="d-f@md ai-c fd-rr mb-3@md">
	<div class="w-48%@md item-show__image css-32z89w">
		<img 
			:alt='event.name + " logo"'
			:src="event.banner_image"
			v-if="event.banner_image.startsWith('http')"
		/>
		<img 
			:alt='event.name + " logo"'
			:src="event.banner_image || 'https://23169086.fs1.hubspotusercontent-na1.net/hubfs/23169086/Portal%20Assets/one-placeholder.png'"
			v-else
		/>
  </div>
	<div class="f-1 pr-6@md">
		<h1 class="lh-1.333 c-tint0 fs-0 fw-600">[[ event.name ]]</h1>
		<div class="mt-2 mt-1@md">
			<span class="d-n d-b@md"></span>
		</div>
	</div>
</div>