<!--
  templateType: global_partial
  label: Events Filter
-->
<div class="action-drawer mb-2 mb-4@md d-f@sm ai-fs">
	<div class="d-b d-f@sm fw-w mb-1 mb-0@sm mr-1@sm">
		<div class="dropdown">
			<button class="select ta-l"><span>All Campuses</span><span class="caret c-primary"></span></button>
			<ul class="dropdown__menu">
				<li class="dropdown__item p-0">
          <button style="display: block; color: rgb(66, 66, 66); line-height: 1.25; padding: 0.5rem 0.75rem; background-color: transparent; border: none; font-weight: 400; text-align: left; width: 100%;">All Campuses</button>
        </li>
				<li class="dropdown__item p-0">
          <button style="display: block; color: rgb(66, 66, 66); line-height: 1.25; padding: 0.5rem 0.75rem; background-color: transparent; border: none; font-weight: 400; text-align: left; width: 100%; white-space: nowrap;">ARC NoHo</button>
        </li>
				<li class="dropdown__item p-0">
          <button style="display: block; color: rgb(66, 66, 66); line-height: 1.25; padding: 0.5rem 0.75rem; background-color: transparent; border: none; font-weight: 400; text-align: left; width: 100%; white-space: nowrap;">ONE | A Potter's House Church</button>
        </li>
				<li class="dropdown__item p-0">
          <button style="display: block; color: rgb(66, 66, 66); line-height: 1.25; padding: 0.5rem 0.75rem; background-color: transparent; border: none; font-weight: 400; text-align: left; width: 100%; white-space: nowrap;">ONE | Global</button>
        </li>
			</ul>
		</div>
	</div>
	<div class="d-b d-f@sm fw-w">
		<div class="dropdown">
			<button class="select ta-l"><span>All Categories</span><span class="caret c-primary"></span></button>
			<ul class="dropdown__menu">
				<li class="dropdown__item p-0">
          <button style="display: block; color: rgb(66, 66, 66); line-height: 1.25; padding: 0.5rem 0.75rem; background-color: transparent; border: none; font-weight: 400; text-align: left; width: 100%;">All Categories</button>
        </li>
				<li class="dropdown__item p-0">
          <button style="display: block; color: rgb(66, 66, 66); line-height: 1.25; padding: 0.5rem 0.75rem; background-color: transparent; border: none; font-weight: 400; text-align: left; width: 100%; white-space: nowrap;">ONE | Connect</button>
        </li>
				<li class="dropdown__item p-0">
          <button style="display: block; color: rgb(66, 66, 66); line-height: 1.25; padding: 0.5rem 0.75rem; background-color: transparent; border: none; font-weight: 400; text-align: left; width: 100%; white-space: nowrap;">ONE | Events</button>
        </li>
				<li class="dropdown__item p-0">
          <button style="display: block; color: rgb(66, 66, 66); line-height: 1.25; padding: 0.5rem 0.75rem; background-color: transparent; border: none; font-weight: 400; text-align: left; width: 100%; white-space: nowrap;">ONE | Heart</button>
        </li>
				<li class="dropdown__item p-0">
          <button style="display: block; color: rgb(66, 66, 66); line-height: 1.25; padding: 0.5rem 0.75rem; background-color: transparent; border: none; font-weight: 400; text-align: left; width: 100%; white-space: nowrap;">ONE | Kidz</button>
        </li>
				<li class="dropdown__item p-0">
          <button style="display: block; color: rgb(66, 66, 66); line-height: 1.25; padding: 0.5rem 0.75rem; background-color: transparent; border: none; font-weight: 400; text-align: left; width: 100%; white-space: nowrap;">ONE | Meet + Greet</button>
        </li>
				<li class="dropdown__item p-0">
          <button style="display: block; color: rgb(66, 66, 66); line-height: 1.25; padding: 0.5rem 0.75rem; background-color: transparent; border: none; font-weight: 400; text-align: left; width: 100%; white-space: nowrap;">ONE | Workshops</button>
        </li>
			</ul>
		</div>
	</div>
</div>