<!--
  templateType: global_partial
  label: Events List
-->
<main class="body-container-wrapper event-listing-template">
  <div id="main_page_content" class="f-1 page-content">
    <div class="f-1 container">
      <div tabindex="-1" style="outline: none;">
        <div tabindex="-1" style="outline: none;">
          <section data-testid="grid" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-2 sm:gap-3 md:gap-4">
            {% for event in events %}
              {% include "./event-card.html" %}
            {% endfor %}
          </section>
        </div>
      </div>
    </div>
  </div>
</main>