<!--
  templateType: global_partial
  label: Events Details Registration Bar
-->
<div class="mb-3@sm px-2 action-drawer d-f ai-c jc-sb action-bar">
  <div data-turbolinks="false">
    <div class="c-tint2 fs-13 f-1 mr-2 lh-1.5">[[ registrationBarText ]]</div>
    {# <div class="c-tint2 fs-13 f-1 mr-2 lh-1.5">Register Again</div> #}
  </div>
  <div class="ta-r">
    <a
      class="btn"
      v-if="canCheckIn"
    >
      View registration
    </a>
    <a
      v-else-if="isLoggedIn && canRegister"
      class="btn"
      @click.prevent="toggleModal('event_register_modal')"
    >
      Register
    </a>
    <a
      v-else
      class="btn"
      :href="`/_hcms/mem/login?redirect_url=${encodeURIComponent(`https://{{request.domain}}{{ request.path }}`)}`"
    >
      Login to Register
    </a>
    </div>
  </div>
</div>

<div
	:id="modal.id"
	v-for="(modal	, index) in modals.detail"
	:key="modal.id"
	class="modal"
	data-focus-lock-disabled="false"
	v-if="modal.visible"
  ref="modalOverlay"
	@click="handleClickOutside"
>
	<div data-reach-alert-dialog-overlay="true" data-reach-dialog-overlay="">
		<div
		aria-describedby="alert-dialog-description--1"
		aria-labelledby="alert-dialog--1"
		aria-modal="true"
		data-reach-alert-dialog-content="true"
		data-reach-alert-dialong-content="true"
		style="width: 50vw"
		data-reach-dialog-content=""
		role="alertdialog"
		tabindex="-1"
	>
		<div
			class="mb-1"
			data-reach-alert-dialog-label="true"
			id="alert-dialog--1"
		>
			[[ modal.title + ' ' + event.name ]]
		</div>
        <div
          data-reach-alert-dialog-description="true"
          id="alert-dialog-description--1"
        >
          <div class="mb-2" v-if="modal.id === 'event_register_modal'">
            <div class="container">
              <!-- Step 1: Selections -->
              <div v-if="registrationStep === 1">
                <div class="reservation-step mb-4 reservation-step--is-active">
									<svg role="img" class="symbol reservation-step__status-icon reservation-step__status-icon--editing" aria-label="Current step status icon" aria-hidden="true" viewBox="0 0 16 16">
										<path d="M16 8C16 9.58225 15.5308 11.129 14.6518 12.4446C13.7727 13.7602 12.5233 14.7855 11.0615 15.391C9.59966 15.9965 7.99113 16.155 6.43928 15.8463C4.88743 15.5376 3.46197 14.7757 2.34315 13.6569C1.22433 12.538 0.462403 11.1126 0.153721 9.56072C-0.15496 8.00887 0.00346625 6.40034 0.608967 4.93853C1.21447 3.47672 2.23985 2.22729 3.55544 1.34824C4.87103 0.469192 6.41775 0 8 0C10.1217 0 12.1566 0.842855 13.6569 2.34315C15.1571 3.84344 16 5.87827 16 8Z"/>
									</svg>
                  <div class="d-f ai-c jc-sb mb-2">
                    <div>
                      <h2 class="lh-1.333 c-tint0 fs-2 fw-600">Selections</h2>
                      <p class="c-tint2 mb-0 mt-4p">How many are you registering for?</p>
                    </div>
                  </div>
                  <div class="d-f fd-c g-1">
                    <div v-for="(selection, index) in event.selections" :key="index" class="action-drawer d-f ai-c@sm jc-sb mb-2">
                      <div class="mr-2 f-1">
                        <span class="bw-wb">[[ selection.name ]]</span>
                        <div class="fs-4 c-tint2">
                          <span v-if="selection.age_grade_restriction_unit === 'Certain grades'">
                            [[ selection.min_grade ]] - [[ selection.max_grade ]] grade only
                          </span>
                          <span v-else-if="selection.age_grade_restriction_unit === 'Certain ages'">
                            [[ selection.min_age ]] - [[ selection.max_age ]] years old
                          </span>
                          <span v-if="selection.gender_restriction_unit !== 'All genders'">
                            [[ selection.gender_restriction_unit ]] only
                          </span>
                        </div>
                      </div>
                      <div class="number-spinner" data-testid="numberSpinner">
                        <button 
                          aria-label="decrease quantity" 
                          class="number-spinner__btn number-spinner__btn-decrement" 
                          @click="decrementAttendees(index)"
                        >
                          <span>-</span>
                        </button>
                        <input 
                          aria-label="quantity" 
                          class="number-spinner__input" 
                          max="50" 
                          min="0" 
                          name="number-spinner" 
                          step="1" 
                          type="number" 
                          v-model="selection.numberOfAttendees"
                        >
                        <button 
                          aria-label="increase quantity" 
                          class="number-spinner__btn number-spinner__btn-increment" 
                          @click="incrementAttendees(index)"
                        >
                          <span>+</span>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="mt-3">
                    <h2 class="lh-1.333 c-tint0 fs-3 fw-600">Contact information</h2>
                    <p class="c-tint2 mt-4p">All correspondence for this registration will be sent to this person. If any of this information is incorrect, you can <a href="/me/profile/contact-and-info">update your profile</a> before or after you register.</p>
                    <div class="d-f g-2 action-drawer">
											<div class="avatar w-8 h-8 mr-2">
												[[ getInitials(currentUser.firstname + ' ' + currentUser.lastname) ]]
											</div>
                      <div class="w-100% d-f fd-c g-1">
                        <div class="css-15xvnyj">[[ currentUser.firstname + ' ' + currentUser.lastname ]]</div>
                        <div>
                          <div>
                            <div class="d-f ai-c g-2">
                              <label class="fs-4 pb-0 fw-600 required-field c-tint2 fg-1 fsh-0 mb-0">Email</label>
                              <input type="text" id="emailAddress-responsiblePerson" readonly placeholder="Email address" autocomplete="on" class="text-input sm-input pe-n" :value="currentUser.email">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="my-2">
                    <button type="button" class="btn lg-btn filled-btn primary-btn" @click="nextStep">Next</button>
                  </div>
                </div>
              </div>

              <!-- Step 2: Attendees -->
              <div v-if="registrationStep === 2">
                <div class="reservation-step mb-4 reservation-step--is-active">
                  <svg role="img" class="symbol reservation-step__status-icon reservation-step__status-icon--editing" aria-label="Current step status icon" aria-hidden="true" viewBox="0 0 16 16">
										<path d="M16 8C16 9.58225 15.5308 11.129 14.6518 12.4446C13.7727 13.7602 12.5233 14.7855 11.0615 15.391C9.59966 15.9965 7.99113 16.155 6.43928 15.8463C4.88743 15.5376 3.46197 14.7757 2.34315 13.6569C1.22433 12.538 0.462403 11.1126 0.153721 9.56072C-0.15496 8.00887 0.00346625 6.40034 0.608967 4.93853C1.21447 3.47672 2.23985 2.22729 3.55544 1.34824C4.87103 0.469192 6.41775 0 8 0C10.1217 0 12.1566 0.842855 13.6569 2.34315C15.1571 3.84344 16 5.87827 16 8Z"/>
									</svg>
                  <div class="d-f ai-c jc-sb mb-2">
                    <div>
                      <h2 class="lh-1.333 c-tint0 fs-2 fw-600">Attendees</h2>
                    </div>
                  </div>
                  <div class="mb-2" v-for="(selection, selectionIndex) in event.selections" :key="selectionIndex">
                    <div class="mb-1" v-for="n in selection.numberOfAttendees" :key="n">
                      <label class="label" :for="'attendee-' + selectionIndex + '-' + n">
                        <div>
                          <div class="d-f ai-c jc-sb">
                            <div class="wb-bw">[[ selection.name ]]</div>
                          </div>
                        </div>
                        <div class="fw-400 fs-4 c-tint2">[[ getSelectionDescription(selection) ]]</div>
                      </label>
                      <div>
                        <div class="d-f g-2 action-drawer fd-c">
                          <div class="d-f g-2 fsh-0">
                            <img :src="getDefaultAvatar()" class="w-6 h-6 circle d-b" alt="Default Profile">
                            <select class="select mb-2" :name="'attendee-' + selectionIndex + '-' + n" :id="'attendee-' + selectionIndex + '-' + n" aria-label="select attendee" v-model="selection.attendees[n-1]">
															<option value="">Select a person</option>
															<option v-for="member in members" :key="member.hs_object_id" :value="member.hs_object_id" :disabled="!isMemberEligible(member, selection)">
																[[ member.firstname + ' ' + member.lastname ]] [[ !isMemberEligible(member, selection) ? '(does not meet ' + getRestrictionReason(member, selection) + ')' : '' ]]
															</option>
															<option value="new">Add a new person</option>
														</select>
                          </div>
                          <div class="w-100% d-f fd-c g-2">
                            <!-- Add additional fields here if needed -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="my-2">
                    <button type="button" class="btn lg-btn filled-btn secondary-btn" @click="previousStep">Previous</button>
                    <button type="button" class="btn lg-btn filled-btn primary-btn" @click="nextStep" :disabled="!canProceedToNextStep">Next</button>
                  </div>
                </div>
              </div>

              <!-- Step 3: Review -->
              <div v-if="registrationStep === 3">
                <div class="reservation-step mb-4 reservation-step--is-active">
                  <svg role="img" class="symbol reservation-step__status-icon reservation-step__status-icon--editing" aria-label="Current step status icon" aria-hidden="true" viewBox="0 0 16 16">
										<path d="M16 8C16 9.58225 15.5308 11.129 14.6518 12.4446C13.7727 13.7602 12.5233 14.7855 11.0615 15.391C9.59966 15.9965 7.99113 16.155 6.43928 15.8463C4.88743 15.5376 3.46197 14.7757 2.34315 13.6569C1.22433 12.538 0.462403 11.1126 0.153721 9.56072C-0.15496 8.00887 0.00346625 6.40034 0.608967 4.93853C1.21447 3.47672 2.23985 2.22729 3.55544 1.34824C4.87103 0.469192 6.41775 0 8 0C10.1217 0 12.1566 0.842855 13.6569 2.34315C15.1571 3.84344 16 5.87827 16 8Z"/>
									</svg>
                  <div class="d-f ai-c jc-sb mb-2">
                    <div>
                      <h2 class="lh-1.333 c-tint0 fs-2 fw-600">Review</h2>
                    </div>
                  </div>
									<div class="css-1ovtb34">
										<div class="mt-4p">
											<div v-for="(selection, selectionIndex) in event.selections" :key="selectionIndex">
												<div v-for="(attendeeId, attendeeIndex) in selection.attendees" :key="attendeeIndex">
													<div class="d-f ai-c jc-sb">
														<div class="wb-bw">
															[[ selection.name ]]: [[ getAttendeeFullName(attendeeId) ]]
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
                  <div class="my-2">
                    <button type="button" class="btn lg-btn filled-btn secondary-btn" @click="previousStep">Previous</button>
                    <button type="button" class="btn lg-btn filled-btn primary-btn" @click="confirmRegistration">
											<span>Confirm Registration</span>
											<svg class="progress-circle" height="25" width="25" v-if="activeButton === 0">
												<circle cx="12.5" cy="12.5" r="6.25"></circle>
											</svg>
										</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="container">
              <button type="button" class="btn lg-btn filled-btn secondary-btn" @click="toggleModal('event_register_modal')">Cancel</button>
            </div>
          </div>
					<div class="mb-2" v-if="modal.id === 'event_checkin_modal'">
						<h2 class="lh-1.333 c-tint0 fs-3 fw-600">Check In</h2>
						<div class="mb-2">
							<div class="d-f ai-c jc-sb action-drawer mt-2 mb-2" v-for="attendee in event.registrations">
								<div class="d-f">
									<div class="avatar w-6 h-6 mr-2">[[ getAvatar(attendee) ]]</div>
									<div class="d-f fd-c">
										<div>[[ attendee.firstname + ' ' + attendee.lastname ]]</div>
										<div class="fs-13 c-tint2">[[ attendee.email ]]</div>
									</div>
								</div>
							</div>
						</div>
						<button class="btn" type="button" @click="confirmCheckIn">Confirm Check In</button>
					</div>
        </div>
      </div>
    </div>
  </div>
</div>
