<!--
  templateType: global_partial
  label: team Members Tab
-->
{% macro contactInitials(firstname, lastname) %}
  {% set initials = "" %}
  {% if firstname|length>0 %}
    {% set initials = initials ~ truncate(firstname, 1, false, "") %}
  {% endif %}
  {% if lastname|length>0 %}
    {% set initials = initials ~ truncate(lastname, 1, false, "") %}
  {% endif %}
  {{ initials }}
{% endmacro %}

{% set member_fields = "firstname,lastname,email,phone,birthday,completed_one_fam,background_check_status"%}
{% set team_leaders = crm_associations(team.id, "USER_DEFINED", 345, "", member_fields).results %}
{% set new_team_leaders = []	%}
{% for leader in team_leaders %}
	{% do leader.update({"leader": true, "association": 345}) %}
{% endfor %}
{% set team_members = crm_associations(team.id, "USER_DEFINED", 215, "", member_fields).results %}
{% for member in team_members %}
	{% if member.id != contact_id %}
		{% do member.update({"leader": false, "association": 215 }) %}
	{% else %}
		{% do team_members.pop(loop.index0)%}
	{% endif %}
{% endfor %}
{% set members = team_leaders|union(team_members)|unique %}
{% set member_count = members|length %}
<div class="f-1">
	<div class="d-f jc-sb mt-1 mb-2">
		<h1 class="lh-1.333 c-tint0 fs-2 fw-600">{{ member_count }} Members</h1>
		<div class="d-f" style="gap: 0.5rem;">
		</div>
	</div>
	<div>
		<a href="/my/teams/{{ team.dynamic_page_slug }}">
			<article class="d-f ai-c mb-2 pb-2 my-member__row">
				<div class="avatar w-8 h-8 mr-2">
					{{ contactInitials(contact.firstname, contact.lastname) }}
				</div>
				<div class="f-1 d-f jc-sb ai-c">
					<div class="d-f fd-c ai-fs">
						<h3 class="lh-1.333 c-tint0 fs-3 fw-600">{{ contact.firstname ~ " " ~ contact.lastname }}</h3>
						<span class="fs-13 lh-1.5 c-brand">Edit visible info</span>
					</div>
				</div>
			</article>
		</a>
		{% for member in members %}
			<a id="member-{{member.id}}" class="member-modal-btn modal-trigger" data-id="{{ member.id }}" href="javascript:void(0);" data-target="modal-{{member.id}}">
				<article class="d-f ai-c mb-2">
					<div class="avatar w-8 h-8 mr-2">
						{{ contactInitials(member.firstname, member.lastname) }}
					</div>
					<div class="f-1 d-f jc-sb ai-c">
						<div class="d-f fd-c ai-fs">
							{% set status = "" %}
							{% set contact_team_activites = crm_associations(member.id, "USER_DEFINED", 212, "", "name,status").results %}
							{% for activity in contact_team_activites %}
								{% set activity_team = crm_associations(activity.id, "USER_DEFINED", 209, "").results[0] %}
								{% if team.id == activity_team.id %}
									{% do member.update({"status": activity.status }) %}
								{% endif %}
							{% endfor %}
							<h3 class="lh-1.333 c-tint0 fs-3 fw-600">{{ member.firstname ~ " " ~ member.lastname }}{% if member.status %}<span class="badge ml-2">{{ member.status }}</span>{% endif %}</h3>
							{% if is_admin %}
							<span class="fs-13 lh-1.5 c-brand">Team Member Profile</span>
							{% endif %}
						</div>
						<div>
							<span class="badge">{{ 'Team Leader' if member.leader else 'Team Member' }}</span>
						</div>
					</div>
				</article>
			</a>
		{% endfor %}
	</div>
</div>
{% for member in members %}
	<div id="modal-{{ member.id }}" class="modal" data-focus-lock-disabled="false" style="display:none">
			<div>
				<div data-reach-alert-dialog-overlay="true" data-reach-dialog-overlay="">
					<div aria-describedby="alert-dialog-description--{{ member.id }}" aria-labelledby="alert-dialog--{{ member.id }}" aria-modal="true" data-reach-alert-dialog-content="true" data-reach-alert-dialong-content="true" data-reach-dialog-content="" role="alertdialog" tabindex="-1">
						<div class="mb-1" data-reach-alert-dialog-label="true" id="alert-dialog--{{ member.id }}">
							<section class="d-f ai-c g-2">
								<div class="avatar w-8 h-8 mr-2">
									{{ contactInitials(member.firstname, member.lastname) }}
								</div>
								<div>
									<h1 class="lh-1.333 c-tint0 fs-21 fw-600">{{ member.firstname ~ " " ~ member.lastname }}</h1>
									<p class="m-0">{{ 'Team Leader' if member.leader else 'Team Member' }}</p>
								</div>
							</section>
						</div>
						<div data-reach-alert-dialog-description="true" id="alert-dialog-description--{{ member.id }}">
							<div class="mb-2">
								<div data-testid="grid" class="grid grid-cols-1 md:grid-cols-2 gap-2 w-100%">
									<div class="form-field mb-2">
										<label>First name</label>
										<input class="form-field__input--full" type="text" name="firstname" value="{{ member.firstname }}" readonly />
									</div>
									<div class="form-field mb-2">
										<label>Last name</label>
										<input class="form-field__input--full" type="text" name="lastname" value="{{ member.lastname }}" readonly />
									</div>
								</div>
								<div data-testid="grid" class="grid grid-cols-1 w-100%">
									<div class="form-field mb-2">
										<label>Email</label>
										<input class="form-field__input--full" type="email" name="email" value="{{ member.email }}" readonly />
									</div>
								</div>
								<div data-testid="grid" class="grid grid-cols-1 w-100%">
									<div class="form-field mb-2">
										<label>Phone</label>
										<input class="form-field__input--full" type="text" name="phone" value="{{ member.phone }}" readonly />
									</div>
								</div>
								<div data-testid="grid" class="grid grid-cols-1 w-100%">
									<div class="form-field mb-2">
										<label>Birthday</label>
										<input class="form-field__input--full" type="text" name="birthday" value="{{ member.birthday }}" readonly />
									</div>
								</div>
								<div data-testid="grid" class="grid grid-cols-1 w-100%">
									<div class="form-field mb-2">
										<label>ONE Fam Status</label>
										<input class="form-field__input--full" type="text" name="completed_one_fam" value="{{ member.completed_one_fam }}" readonly />
									</div>
								</div>
								<div data-testid="grid" class="grid grid-cols-1 w-100%">
									<div class="form-field mb-2">
										<label>Background Check Status</label>
										<input class="form-field__input--full" type="text" name="background_check_status" value="{{ member.background_check_status }}" readonly />
									</div>
								</div>
							</div>
							<div>
								<div class="d-f jc-fe mt-3">
									<input type="hidden" name="memberId" value="{{ member.id }}">
									<input type="hidden" name="memberName" value="{{ member.name }}">
									<input type="hidden" name="memberUrl" value="http://{{ request.domain }}/my/members/{{ member.dynamic_page_slug }}">
									<input type="hidden" name="memberBannerUrl" value="{{ member.featured_image }}">
									<input type="hidden" name="contactId" value="{{ contact_id }}">
									<input type="hidden" name="firstname" value="{{ contact.firstname }}">
									<input type="hidden" name="contactEmail" value="{{ contact.email }}">
									<button class="btn text-btn mr-2 cancel-btn">Close</button>
									{# TODO: SWITCH BASEURL BEFORE LAUNCH #}
									<a href="{{team.registration_url}}?firstname={{member.firstname}}&lastname={{member.lastname}}&email={{member.email}}&2-12312453/team_name-{{team.team_name}}" class="btn" target="_blank">Change Volunteer Status</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endfor %}