<!--
  templateType: page
  isAvailableForNewContent: true
  label: Portal - Event Listing
  dataQueryPath: ../data-queries/contact_info
-->

{% extends "./layouts/base-portal.html" %}

{% block body %}
  {% if dynamic_page_crm_object_type_fqn %}
    {% if request_contact.is_logged_in %}
      {% set contact = data_query.data.CRM.contact %}
      {% set contact_id = contact._metadata.id %}
    {% endif %}
    {% set campus_filter = crm_property_definition(dynamic_page_crm_object_type_fqn, "campus").options %}
    {% set category_filter = crm_property_definition(dynamic_page_crm_object_type_fqn, "category").options %}
    <script type="application/json" id="json-data">
      {
        "currentView": "list",
        "filters": {
          "campus": {{ campus_filter|tojson }},
          "category": {{ category_filter|tojson }}
        },
        "userData": {{ contact|tojson }}
      }
    </script>
    {% include "./partials/events/event-list.html" %}
  {% elif dynamic_page_crm_object %}
    {% set event = dynamic_page_crm_object %}
    {% set contact = data_query.data.CRM.contact %}
    {% set registrations = crm_associations(event.id, "USER_DEFINED", 326).results %}
    {% if request_contact.is_logged_in %}
      {% for reg in registrations %}
        {% set attendee = crm_associations(reg.id, "USER_DEFINED", 323) %}
      {% endfor %}
    {% endif %}
    {% set selections = crm_associations(event.id, "USER_DEFINED", 344, "show=true", 
        "name,
        show,
        cost,
        personal_information_to_collect,
        grade_label,
        grade_restriction_phrase,
        min_grade,
        max_grade,
        custom_confirmation_message,
        address,
        gender_restriction_unit,
        age_grade_restriction_unit,
        allow_partial_payments,
        grade_required,
        emergency_contact_required,
        gender_required,
        birthdate_required,
        email,
        phone,
        address,
        medical"
      ).results 
    %}
    {% set min_grade_options = crm_property_definition("selection_types", "min_grade").options %}
    {% set max_grade_options = crm_property_definition("selection_types", "max_grade").options %}
    <script type="application/json" id="json-data">
      {
        "currentView": "detail",
        "userData": {{ contact|tojson }},
        "event": {{ event|tojson }},
        "registrations": {{ registrations|tojson }},
        "selections": {{ selections|tojson }},
        "minGradeOptions": {{ min_grade_options|tojson }},
        "maxGradeOptions": {{ max_grade_options|tojson }}
      }
    </script>
    {% include "./partials/events/event-detail.html" %}
  {% endif %}
{% endblock body %}

{% block footer_includes %}
  {{ require_js("https://cdn.jsdelivr.net/npm/moment@2.29.4/moment.min.js", { position: 'footer' }) }}
  {{ require_js("https://cdn.jsdelivr.net/npm/moment-timezone@0.5.43/moment-timezone.min.js", { position: 'footer' }) }}
  {{ require_js("https://cdn.jsdelivr.net/npm/vue@2", { position: 'footer'}) }}
  {{ require_js(get_asset_url("../js/lib/shared/directives.js"), { position: 'footer'}) }}
  {{ require_js(get_asset_url("../js/lib/shared/methods.js"), { position: 'footer'}) }}
  {{ require_js(get_asset_url("../js/lib/events.js"), { position: 'footer'}) }}
{% endblock footer_includes%}