<!--
  templateType: page
  isAvailableForNewContent: true
  label: Portal - Event Listing
-->

{% extends "./layouts/base.html" %}

{% block body %}
  {% if dynamic_page_crm_object_type_fqn %}
    {% set queryparams = "limit=200&orderBy=starts_at" %}
    {% if request.query_dict.start %}
      {# {% set queryparams = queryparams ~ "&starts_at__gte=" ~ requ %} #}
    {% else %}
      {% set queryparams = queryparams ~ "&starts_at__gte=" ~ local_dt|datetimeformat('%j') %}
    {% endif %}
    {% if request.query_dict.archived %}
    {% set queryparams = queryparams ~ "&include_on_signup_page__in=On A specific date/time,Now" %}
    {% else %}
    {% set queryparams = queryparams ~ "&include_on_signup_page__ne=Do not include (direct link only)" %}
    {% endif %}
    {% set events = crm_objects(dynamic_page_crm_object_type_fqn, queryparams, "name,description,dynamic_page_slug,banner_image,featured,registration_status,include_on_signup_page,starts_at,starts_at_time").results %}
    {% include "./partials/events/event-list.html" %}
  {% elif dynamic_page_crm_object %}
    {% set event = dynamic_page_crm_object %}
    {% include "./partials/events/event-detail.html" %}
  {% endif %}
{% endblock body %}