<!--
  templateType: page
  isAvailableForNewContent: true
  label: Portal - Event Listing
-->

{% extends "./layouts/base.html" %}

{% block body %}
  {% if dynamic_page_crm_object_type_fqn %}
    {% set query = "registration_status__ne=Closed&limit=200&orderBy=starts_at" %}
    {% set events = crm_objects(dynamic_page_crm_object_type_fqn, query, "name,description,dynamic_page_slug,banner_image,featured,registration_status").results %}
    <main class="body-container-wrapper event-listing-template">
      <div id="main_page_content" class="f-1 page-content">
        <div class="f-1 container container--wide">
          <div tabindex="-1" style="outline: none;">
            <div tabindex="-1" style="outline: none;">
              <section data-testid="grid" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-2 sm:gap-3 md:gap-4">
                {% for event in events %}
                  {% include "./partials/events/event-card.html" %}
                {% endfor %}
              </section>
            </div>
          </div>
        </div>
      </div>
    </main>
  {% elif dynamic_page_crm_object %}
    {% set event = dynamic_page_crm_object %}
    {% include "./partials/events/event-detail.html" %}
  {% endif %}
{% endblock body %}