<!--
  templateType: page
  isAvailableForNewContent: true
  label: Portal - Volunteer Teams
-->
{% extends "./layouts/base.html" %}

{% block body %}
<main class="body-container-wrapper group-categories-template">
  {% if dynamic_page_crm_object_type_fqn %}
    {% include "./partials/volunteers/volunteer-teams-list.html" %}
  {% elif dynamic_page_crm_object %}
    {% set team = dynamic_page_crm_object %}
    {% include "./partials/volunteers/volunteer-detail.html" %}
  {% endif %}
</main>
{% endblock body %}