<!--
  templateType: page
  isAvailableForNewContent: true
  label: Portal - Vue Test
  dataQueryPath: ../data-queries/contact_info
-->
{% extends "./layouts/base.html" %}

{% block body %}
  <main class="body-container-wrapper profile-template">
    {% raw %}
    <div id="app">
      {{ message }}
    </div>
    {% endraw %}
  </main>
{% endblock body %}

{% block footer_includes %}
{{ require_js("https://cdn.jsdelivr.net/npm/vue@2", { position: 'footer'}) }}
<script>
  var app = new Vue({
    el: '#app',
    data: {
      message: 'Hello Vue!'
    }
  })
</script>
{% endblock footer_includes %}
